@font-face{
    src: url(../fonts/openSans/OpenSans-Bold.ttf);
    font-family: "OpenSans bold";
}

@font-face{
    src: url(../fonts/openSans/OpenSans-Regular.ttf);
    font-family: "OpenSans";
}
ul li{
    list-style: none;
}
*{
    margin:0;
    padding:0;
    outline:none;
}
.webpage{
    width:100%;
    height:auto;
    font-family: "OpenSans";
}
header{
    padding:3%;
    font-family:"OpenSans bold";
    font-size:3rem;
    color:#333;
    display:flex;
    align-content:center;
    justify-content:space-around;
}
header div h1{
    float:left;
    line-height:5rem;
}
header div img{
    width:100px;
    height:80px;
    float:left;
}
.row{
    margin:0;
    padding:0;
}
.window{
    width:96%;
    height:auto;
    margin:2%;
    margin-top:4%;
    padding:4%;
    background-color:#fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
}
.margin{
    width:100%;
    padding:6%;
}
.bloque{
    display:block;
    width:100%;
}
#displayResults{
    max-height:90vh;
    overflow-y:scroll;
    font-size:0.9rem;
}

.windowFloatBlur{
    position:fixed;
    z-index:11;
    width:100%;
    height:100%;
    /* background-color:rgba(199, 199, 199, 0.7); */
}

.alertOptions.window{
    width:200px;
    background-color:#fff;   
    position:absolute;
    z-index: 12;
    margin:0;
    padding:0;
    font-family:'OpenSans';
    text-transform:lowercase;
}

@media screen and (min-width: 800px){
    .alertOptions.window{
        width:20vw;
    }
}
.printOptions{
    font-family:"OpenSans";
    font-size:0.9rem;
    text-align:center;
}
.boxButton{
    width:130px;
    height:110px;
    /* border:1px solid #eee; */
    margin:1px;
    border-collapse: collapse;
    float:left;
    text-align:center;
    display:flex;
    align-items:center;
    align-content:center;
    padding:1%;
    color:#fff;
    cursor:pointer;
}
.boxButton p{
    margin:0 auto;
}
.boxButton:hover{
    background-color:#333;
    color:#eee;
}
.azul{
    background:#0F5AF2;
}
.morado{
    background:#971CC2;
}
.amarillo{
    background:#F3D85C;
    color:#333;
}
.cyan{
    background:#0CDBF2;
}
.negro{
    background:#08000B;
}
.cajaColumn:hover{
    background-color:#dee2e6;
}

#deleatSelection{
    position:absolute;
    top:0;
    right:0;
}
.caja{
    cursor:pointer;
}
#adminOptions .window{
    /*no sirve*/
    height:50%;
    max-height:46vh;
    min-height:45vh;
}